volumes:
  db:

services:
  symfony:
    build:
      context: ./symfony
    restart: unless-stopped
    volumes:
      - ./symfony:/var/www/html/symfony
    environment:
      APP_ENV: dev
    depends_on:
      - postgres

  nginx:
    build:
      context: ./nginx
    restart: unless-stopped
    volumes:
      - ./react/dist/:/usr/share/nginx/html
    ports:
      - "82:80"
    depends_on:
      - symfony
    environment:
      HOSTNAME_INTERNAL_PHP: symfony:9000
      HOSTNAME_PUBLIC_BACKEND: localhost:9000
      HOSTNAME_INTERNAL_NGINX: nginx
      CORS_ALLOW_ORIGIN: ${CORS_ALLOW_ORIGIN:-http://localhost:5173}

  postgres:
    image: postgres:16-alpine
    restart: on-failure
    ports:
      - "5432:5432"
    volumes:
      - 'db:/var/lib/postgresql/data'
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-root}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-root}
      POSTGRES_DB: ${POSTGRES_DB:-bg_log}
