@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-ambiance: #001233;
  --color-highlight: #90E0EF;
  --color-inter: #0096C7;
  
  /* Custom shadow */
  --shadow-highlight: 0 0px 9px -2px #90E0EF;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.switch span {
    display: inline-block;
    cursor: pointer;
    width: 50px;
}
  
.slider {
    position: absolute;
    height: 24px;
    background-color: #5fb7cf;
    transform: translateX(-100px);
    transition: 0.3s;
}

.slider.active {
    transform: translateX(-50px);
}
