doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        types:
            uuid: Ramsey\Uuid\Doctrine\UuidType
        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        server_version: '15'
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            Game:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Game'
                prefix: 'App\Game'
            Entry:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entry'
                prefix: 'App\Entry'
            Player:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Player'
                prefix: 'App\Player'
            StatisticsQuery:
                is_bundle: false
                dir: '%kernel.project_dir%/src/StatisticsQuery'
                prefix: 'App\StatisticsQuery'

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
